.container {
    display: flex;
    margin-bottom: 20px;
}

.image {
    position: relative;
    width: 100%;
}

.title {
    /* Center Position Card */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    /* Glass Card */

    width: 1000px;
    height: 400px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

