.container {
    margin-bottom: 20px;
}

.info_title {
    text-align: center;
}

.info_title h1 {
    display: inline-block;
    border-bottom: 2px solid #1A1423;
}

.info_container{
    padding: 16px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 16px 32px 16px 32px;
}

.about_us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 16px;
    flex: auto;
    height: 200px;
    
}

.author_image {
    width: 150px;
    height: 150px;
    margin-bottom: 16px;
}

@media (max-width: 768px){
    .info_container {
        flex-direction: column;
    }
}