.container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    
}

.card {
    margin: 10px;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.title {
    width: 40%;
    position: relative;
}

.buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}



/* Button */
.btn_buy {
    width: 100px;
    height: 50px;
    background-color: #91ff82;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: none;
}

.btn_rent {
    width: 100px;
    height: 50px;
    background-color: rgb(118, 236, 118);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
}

.btn_rent:hover,
.btn_buy:hover {
    background-color: #3c5a14;
    color: white;
}


